.MyNavbar {
  display: block;
  background-color: darkred;
}

button.btn-outline-dark {
  border-color: darkgray;
}

a.nav-brand {
  color: beige;
  font-size: xx-large;
  font-feature-settings: "ss06"
}
