@import '../../../styles/variables';

.HitWord {
  display: block;
  @media (min-width: 768px) {
    height: 20%;
    width: 45%;
  }

  .card {
    height: 83%;

    .card-body {
      text-align: left;
      background-color: $mahbackgroundcolor;
      overflow: hidden;

      h5 {
        a {
          color: $wordcolor;
        }
      }
    }
  }
}
