@import '../../../styles/variables';

.HitWord {
  display: block;

  .card {
    .card-body {
      text-align: left;
      background-color: $mahbackgroundcolor;

      a {
        color: $wordcolor;
      }
    }
  }
}
